@import "tailwindcss";

@layer components {
  .btn-base {
    @apply w-full text-sm text-white font-normal uppercase rounded-md border !p-2;
  }

  .media-panel {
    @apply flex items-center w-full bg-gray-200 h-[70%] px-4 rounded-xl;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make the workspace flex and fill */
.annotate-container > div:first-child {
  flex: 1 1 auto !important;
  width: 100% !important;
  height: 100% !important;
}
.annotate-container > div > svg > polyline {
  stroke-width: 4;
  stroke: #240768;
}
.annotate-container > div > svg > rect {
  fill: none;
}
.annotate-container > div > svg > text {
  fill: #240768;
  font-size: 1rem;
}

.slick-slide > div {
  padding: 0 8px;
}

.slick-slide {
  height: auto;
}

.slick-track {
  display: flex !important;
  align-items: center;
  margin: 0;
}

.slick-slide > div > div {
  height: 100%;
}

*/ a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
